.main-container {
  position: relative;
  min-height: 100vh;
}
/* .header {
  background: #ff0;
  padding: 10px;
} */

.main-content {
  /* padding-bottom: 2.5rem; */
  background: yellow;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0rem;
}

.card-container {
  display: inline-flex;
  padding: 10px;
}
